.caja1{
	background-color: rgb(233, 15, 15);
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}
.caja2{
	background-color: rgb(57, 9, 230);
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}
.caja3{
	background-color: rgb(208, 230, 18);
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}